<form action="/new-user" method="POST">

  <div class="form-container">

    <div class="input-field">

      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" autocomplete="off" required />

    </div>


    <div class="input-field">

      <label for="password">Sua palavra-passe</label>
      <input type="password" name="password" id="password" autocomplete="off" required />

    </div>

  </div>


  <button type="submit">Cadastrar-se</button>

</form>
