<form action="/save-user/{{id}}" method="POST">

  <div class="form-container">

    <div class="input-field">

      <label for="name">Seu novo nome</label>
      <input type="text" name="name" id="name" autocomplete="off" />

    </div>


    <div class="input-field">

      <label for="password">Sua nova palavra-passe</label>
      <input type="password" name="password" id="password" autocomplete="off" />

    </div>

  </div>


  <button type="submit">Atualizar</button>

</form>
